@font-face {
    font-family: 'gan';
    src: local('gan'), url(../fonts/ganclm_bold-webfont.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.imageContainer {
    text-align: center;
    margin: 30px;
    display: inline-block;
}

.imgText {
    font-size: 0.3in;
    font-family: 'Hanalei Fill', cursive;
    font-family: 'gan';
}

img {
    border-radius: 32px;
    width: 2in;
    height: 2in;
    margin-bottom: 4px;
}
.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .container a {
    text-decoration: none;
  }